<section class="main">
  <h1>{{contact.name}}</h1>
  
  <h2>Invoices</h2>
  <select name="filter" ng-model="filter">
    <option value="">All</option>
    <option value="draft">Open</option>
    <option value="approved">Closed</option>
  </select>
  <input type="search" name="query" ng-model="query" />
  <ul class="invoices">
    <li ng-repeat="invoice in invoices | filter:query | filter:filter">
      <span class="invoiceNo">{{invoice.invoiceNo || "-"}}</span>
      <a href="#">{{invoice.lines[0].description || invoice.lines[0].product.name}}</a>
      <span class="date">{{invoice.createdTime | date:shortDate}}</span>
      <span class="price">{{invoice.amount | currency:""}}
    </li>
  </ul>
</section>