<section class="main">
  <h1>{{contact.name}}</h1>
  
  <h2>Invoices <a href="#">Ny</a></h2>
  <ul class="filter">
    <li><a href="#">All</a></li>
    <li><a href="#">Open</a></li>
    <li><a href="#">Closed</a></li>
  </ul>
  <ul class="invoices">
    <li ng-repeat="invoice in invoices">
      <span class="invoiceNo">{{invoice.invoiceNo || "-"}}</span>
      <a href="#">{{invoice.lines[0].description || invoice.lines[0].product.name}}</a>
      <span class="date">{{invoice.createdTime | date:shortDate}}</span>
    </li>
  </ul>
</section>