.invoice {

}

label, .label {
  float: left;
  width: 40%;
  display: block;
}
.value {
  float: left;
  width: 60%;
  display: block;
}

th, td {
  text-align: left;
  padding: 5px;
  border-bottom: solid 1px #ccc;
  
}
.numerical {
  text-align: right;
}