nav.main-nav {
  float: right;
  ul {
    display: none;
    background: $white;
    border-bottom: solid 2px $gray;
    margin: 0;
    position: absolute;
    left: 0;
    top: 100%;
    width: 100%;
    padding: 10px 0;
    list-style: none;
    li {
      display: block;
      padding: 3px 20px;
      a {
        text-decoration: none;
        color: $purple-dark;
        display: block;
        text-decoration: none;
      }
    }
  }
  a.nav-link {
    color: $white;
    position: absolute;
    top: 20px;
    right: 20px;
    text-decoration: none;
    font-size: 20px;
    &:hover{
      text-decoration: none;
    }
  }
}