@import "base";

body, html {
  font-size: 16px;
  line-height: 1.8;
}

header.main-header {
  @include background(linear-gradient(top, $purple-dark, $purple-light));
  position: relative;
  .logo {
    color: $white;
    text-decoration: none;
    font-size: 20px;
    padding: 20px;
    display: inline-block;
    width: 100%;
    text-align: left;
    @include box-sizing(border-box);
    font-family: existence
  }
}

select.filter {
  float: left;
  width: 30%;
  @include box-sizing(border-box);
}
input.query {
  float: left;
  width:70%;
  @include box-sizing(border-box);
}

ul.invoices {
  padding-top: 30px;
  clear: both;
}

.cf{
  &:after{
    content:"";
    display:table;
    clear:both;
  }
}

section.main {
  padding: 20px;
}
ul.list {
  list-style: none;
  padding: 0;
  display: table;
  li {
    border-bottom: solid 1px #ccc;
    display: table-row;
    &>a, &>span {
      display: table-cell;
      padding-left: 5px;
      &:first-child {
        padding-left: 0;
      }
    }
  }
}

ul.table {
  list-style: none;
  padding: 0; 
}

h1, h2, h3 {
  font-family: "Lucida Sans Unicode", "Lucida Grande", Garuda, sans-serif;
}
a {
  color: $purple-dark;
  text-decoration: none;
  &:hover {
    color: $purple-light;
  }
}


.watch {
  text-align: center;
  margin: 30px;
  border: solid 3px $gray;
  font-size: 40px;
}
#watch-btn, #watch-save {
  display: inline-block;
  margin: 10px 30px;
  font-size: 30px;
  &#watch-save {
    float: right;
  }
}