@import "base";

header.main-header {
  @include background(linear-gradient(top, $purple-dark, $purple-light));
  position: relative;
  .logo {
    color: $white;
    text-decoration: none;
    font-size: 20px;
    padding: 20px;
    display: inline-block;
    width: 100%;
    text-align: left;
    @include box-sizing(border-box);
    font-family: existence
  }
}

ul.table {
  list-style: none;
  padding: 0;
}